.about-container {
  background: var(--main-bg-color);
  color: var(--main-text-color);
  padding: 20px;
  margin-top: -50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  min-width: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 20px;
}

.about-header {
  font-size: 3.5rem;
  color: var(--main-text-color);
  text-align: center;
  padding-bottom: 20px;
  align-self: center;
  font-weight: bold;
  border-bottom: 2px solid var(--highlight-color);
}

.about-content {
  font-size: 1.2rem;
  line-height: 1.68rem;
  max-width: 600px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  opacity: 0.8;
  letter-spacing: -0.5px;
}

.about-content-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 64px;
  padding: 20px;
  flex-wrap: wrap;
  flex-direction: column;
}

.about-content-container img {
  max-width: 100%;
  width: 100%;
  height: auto;
  max-width: 400px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 #000000;
  animation: glowing 2s infinite;
  opacity: 0.8;
}

@media (min-width: 600px) {
  .about-content-container {
    flex-direction: row;
  }
}
