.blackhole-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.blackhole-video {
  transform: rotate(180deg);
  position: absolute;
  top: -363px;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
