.intro-container {
  display: flex;
  justify-content: space-between;
  padding-left: 5rem;
  padding-right: 5rem;
  width: 100%;
}

.intro-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.name-title {
  background: -webkit-linear-gradient(left, #a855f7, #06b6d4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro-info {
  font-size: 1.5rem;
  color: #a0aec0;
  margin-bottom: 1.25rem;
  max-width: 600px;
  text-align: start;
}

.intro-text-container h2 {
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1.2;
  padding: 0;
  margin-bottom: 20px;
  height: 20px;
  text-align: start;
}
.intro-text-container h3 {
  font-size: 2rem;
  line-height: 4.4rem;
  font-weight: 500;
  margin-top: 8rem;
  margin-left: 0.25rem;
  height: 20px;
  min-width: 425px;
  text-align: start;
}

.typewriter {
  min-width: 200px;
}

a {
  outline: none;
  color: var(--main-text-color);
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 2px var(--highlight-color), 0 0 4px var(--highlight-color);
  }
  50% {
    box-shadow: 0 0 4px var(--highlight-color), 0 0 8px var(--highlight-color);
  }
  100% {
    box-shadow: 0 0 2px var(--highlight-color), 0 0 4px var(--highlight-color);
  }
}

.me-img {
  width: 100%;
  height: auto;
  max-width: 400px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 #000000;
  animation: glowing 2s infinite;
  z-index: 1;
  opacity: 0.8;
}

.download-btn {
  background: rgba(
    26,
    32,
    44,
    0.3
  ); /* toned-down version of the hover background color */
  border: 1px solid rgba(124, 42, 159, 0.5);
  color: var(--main-text-color);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
}

.download-a {
  margin-top: 2rem;
  align-self: flex-start;
  background-color: transparent;
  color: var(--highlight-color);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.download-btn:hover {
  background-color: var(--highlight-color);
  color: #fffbff;
  box-shadow: 0 0 10px var(--highlight-color), 0 0 15px var(--highlight-color),
    0 0 20px var(--highlight-color), 0 0 25px var(--highlight-color),
    0 0 35px var(--highlight-color);
}

@media (max-width: 768px) {
  .intro-container {
    flex-direction: column;
    gap: 32px;
  }

  .intro-text-container h2 {
    font-size: 2.5rem;
  }

  .intro-text-container h3 {
    font-size: 1.3rem;
    margin-top: 4rem;
    margin-bottom: 2.5rem;
    min-width: auto;
  }

  .me-img {
    max-width: 300px;
  }
}
