.slider-container {
  border: 2px solid #7c2a9f;
  border-radius: 10px;
  box-shadow: 0 0 10px #7c2a9f;
  overflow: hidden; /* This is needed to apply the border radius to the carousel */
}

img {
  height: 2.5rem;
  width: auto;
}
