.skill-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.skill-img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.skill-bar {
  width: 100px;
  height: 20px;
  background: repeating-linear-gradient(
    to right,
    #ddd,
    #ddd 1px,
    #fff 1px,
    #fff 20%
  ); /* This will add lines every 20% */
  overflow: hidden;
}

.skill-level {
  height: 100%;
  background-color: #8de490;
}
