#skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  padding-bottom: 80px;
  padding-top: 20px;
  transform: scale(0.9);
}

#skills .flex-row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 1rem;
  gap: 5px;
  align-items: center;
}

#skills .absolute {
  width: 100%;
  height: 100%;
  position: absolute;
}

#skills .bg-cover {
  width: 100%;
  height: 100%;
  z-index: -10;
  opacity: 0.3;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}

#skills video {
  width: 100%;
  height: auto;
}
