.intro-socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  position: absolute;
  left: 6%;
  top: 28rem;
}

@media (max-width: 768px) {
  .intro-socials {
    display: flex;
    flex-direction: row;
    position: static;
    margin-top: 2rem;
    left: auto;
    top: auto;
  }
}
